html {
  font-size: 10px;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.wrapper{
  display:flex;
  justify-content: center;
   flex-direction: column;
}
.animation-container{
  padding-top: 40px;
  position: relative;
}


.cat-1{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  transform: translate(-50%, 0px);
}
.keys {
  display: flex;
  flex: 1;
  min-height: 40vh;  
  justify-content: center;
  align-items: center;
}

.key {
  cursor: pointer;
  border: .4rem solid black;
  border-radius: 2.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgb(255, 166, 162);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffffff;
}
